body {
    font-family: 'Raleway', sans-serif;
    background-color: #fff;
    background-image: url(/static/images/unstable-unicorn.jpg);
    background-repeat: no-repeat;
    background-position: left center;
  }
  footer {
    text-align: center;
    margin-top: 2em;
  }
  h2 {
    font-style: italic;
  }
  header {
    text-align: center;
    background-color: rgba(202, 202, 202, 0.5);
    color: #000;
    margin: 4em;
  }
  header h1, header h2 {
    display: inline;
  }
  header h1 a, header h2 a, header h1 a:hover, header h2 a:hover {
    color: inherit;
    text-decoration: none;
  }
  header h2 {
    font-size: 24px;
    padding-left: .5em;
  }
  #remotes {
    visibility: hidden;
  }
  #url {
    text-align: center;
    display: none;
  }
  #login {
    display: none;
  }
  #roomIntro {
    font-weight: bold;
  }
  .videoContainer {
    object-fit: cover;
    margin: 0 auto;
    padding: 0;
  }
  .videoContainer video {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 5px double #f2f2f2;
  }
  .volume {
    position: absolute;
    left: 15%;
    width: 70%;
    bottom: 20px;
    height: 10px;
    display: none;
  }
  .connectionstate {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    color: #fff
  }
  .col-md-6 {
    margin-bottom: 1em;
  }